html, body, p, h1, h2, h3, h4, h5, h6, ul, li {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: Tahoma;
    color: rgba(35, 35, 35, 1);

}

body {
    background: #000;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.big-wrapper {
    width: 100%;
    height: 100%;
    margin: 0;
    padding-top: 100px;

}

.big-wrapper:after, .header-wrapper:after, .containercic:after, .container-bottom:after, .slider:after, .possition-center:after {
    clear: both;
    content: ' ';
    display: table;
}

header {

    width: 100%;
}

.header-wrapper {
    width: 1000px;
    margin: 0px auto 0px;
    background-color: azure;

}

.nav-top ul {
    border-bottom: 1px solid rgba(55, 55, 55, 1);
    list-style: none;
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-top .top-middle {
    padding-right: 25px;
    border-right: 1px solid rgba(55, 55, 55, 1);
}

.nav-top .icon {
    margin-left: 20px;
    color: #a86161;
}

.nav-bottom ul {
    list-style: none;

}

.nav-top li {
    display: inline;

}

.top-left {
    padding: 0px 5px 0px 50px;
    box-sizing: border-box;
    width: 68%;
    float: left;
}

.top-left .tel-num {
    float: right;
}

.nav-top .top-right {
    width: 25%;

}

.top-right ul li {
    display: inline;
}

.nav-bottom .menu {
    display: inline;
    margin-left: 20px;
}

.nav-bottom ul {
    margin-right: 25px;
    float: right;
    line-height: 70px;
}

.nav-bottom .logo {
    float: left;
    margin: 9px 50px;
}

.navbar {
    overflow: hidden;

}

.container-bottom {

    position: relative;
    width: 100%;
    margin: 0 auto;
    background-color: transparent;

}

.slider .left-img {

    float: left;
    width: 50%;

}

.left-img img {
    margin-top: 50px;
    width: 80%;
    float: right;
}

/* logo image */
.logo img {
    width: 170px;
}

/* navbar */

.header-wrapper .nav-bottom {
    height: 75px;

}

button {
    border-radius: 25px;
    width: 120px;
    height: 42px;
    margin-top: 30px;
    font: 15px tahoma;
}

.right-text {
    margin-top: 10%;
    float: left;
}

.right-text p {
    color: white;
    font: 30px Tahoma;
}

.right-text h1 {
    color: white;
    font: 70px Tahoma;
}

.possition-center {
    position: relative;
    width: 1000px;
    margin: 0px auto 0px;
    background-color: azure;
    padding: 50px 0px 0px;

}

.wraper-color {
    background-color: azure;
}

.bt-nav {
    margin-top: 6% !important;;
    position: absolute;
    width: 3em;
    height: 3em;
    color: white;
    background-color: #a86161;
    float: left;
}

.possition-center .left {
    left: -60px;
}

.possition-center .right {
    right: -60px;
}

/*stilizovanje containercica*/

.containercic {
    background-color: azure;
    width: 31%;
    border: 1px solid gray;
    float: left;
    padding: 15px;
    margin-left: 35px;

}

.text-align-center {
    text-align: center;
}

.containercic ul li {
    display: inline;
}

.containercic ul {

    line-height: 40px;
    list-style: none;
}

.small-list {
    line-height: 40px;
}

.float-left {
    float: left;
}

.inline {
    display: inline;
}

.clear-left {
    clear: left;
}

.service-title {
    font: 20px Centaur bold;
    position: absolute;
    margin: 12px 15px;
}

.service-icon i {
    padding-right: 15px;
    border-right: 1px solid gray;
}

.service-desc a {
    color: rgba(35, 35, 35, 1);
}

.mr-left {
    margin-left: 0px !important;
}

.text-center {
    padding: 50px;
    text-align: center;
}

.text-center p {
    font-family: Centaur;
    font-size: 50px;
}

.p-midle {
    font-family: Tahoma;
    font-size: 25px;

}

.left-text {
    padding: 20px 20px 20px 0px;
    text-align: justify;
    width: 50%;
}

.classes {
    width: 20%
}

.classes img {
    width: 100%;
}

.img-desc {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-family: Tahoma;
    padding: 25px;
    border: 1px solid #dadada4d;
    margin-top: -4px;

}

.containercic-2 {
    width: 23%;
    margin-left: 26px;
}

.content-title {
    font-size: 25px;
    font-weight: bold;
}

.content-desc p {
    font-family: Centaur;
    font-size: 20px;
}

.content-img {
    width: 100%;
    overflow: hidden;
    background-image: url("Images/man.png");
    height: 299px;
    background-repeat: no-repeat;
    background-position: 60px 0;
}

.i-padding {
    padding: 20px;
    color: #a86161;
}

.possition-2 {
    background-position: -340px 0;
}

.possition-3 {
    background-position: -824px 0;
}

.possition-4 {
    background-position: -1279px 0;
}

.left-container {
    width: 55%;
    margin-top: 70px;
}

.left-container img {
    width: 100%;
}

.right-container {
    background-image: url("Images/img1.jpg");
    background-repeat: no-repeat;
    background-color: #a86161;
    position: absolute;
    width: 840px;
    right: 0px;
    background-size: 100%;
    height: 423px;
    opacity: 0.5;
}

.right-container img {
    width: 100%;
    opacity: 0.05;
}

.padding-50-0 {
    padding: 50px 0px;
}
