html, body, p, h1, h2, h3, h4, h5, h6, ul, li {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.clear:after {
    clear: both;
    display: table;
    content: " "
}
.big-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
}

.big-wrapper:after{
    clear:both;
    content: ' ';
    display: table;
}

header {
    position: absolute;
    width: 100%;
    min-height: 1000px;

    background-color: cyan;
}


.header-wrapper {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    background-color: azure;
    top: 80px;

}

.nav-top ul {
    border-bottom: 1px solid rgba(55, 55, 55, 1);
    list-style: none;
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-top .top-middle {
    padding-right: 25px;
    border-right: 1px solid rgba(55, 55, 55, 1);
}

.nav-top .icon {
    margin-left: 20px;
}

.nav-bottom ul {
    list-style: none;

}

.nav-top li {
    display: inline;

}

.top-left {
    padding: 0px 5px 0px 50px;
    box-sizing: border-box;
    width: 70%;
    float: left;
}

.top-left .tel-num {
    float: right;
}

.nav-top .top-right {
    width: 25%;

}

.top-right ul li {
    display: inline;
}

.nav-bottom .menu {
    display: inline;
    margin-left: 20px;
}

.nav-bottom ul {
    float: right;
    padding: 50px 50px;
}

.nav-bottom .logo {
    height: 60px;
    float: left;
    font: 70px bold;
    margin: 30px 50px;
}

.navbar {
    overflow: hidden;

}

.container-bottom {

    position: relative;
    width: 1200px;
    margin: 0 auto;
    background-color: transparent;

}

.slider .left-img {

    width: 50%;

}

.left-img img {
    width: 100%;
}


